@import './vendor.css';
@import './inner.css';

#root {
  width: 100%;
}

pre {
  background-color: #282c34 !important;
}

main {
  max-width: 888px !important;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .AddonDocs-DocsViewer-Nav nav {
    display: none;
    background: #fff;
  }
  .show-mobile nav {
    display: block;
  }
}
